
/* style.css */
body {
  background: #f4f7fb;
  font-family: Arial;
}
.cartao { background: rgb(240, 13, 13); }
#titulo { color: #110344; }

.interesses {
  color: #1e293b;
background: #dbeafe;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
text-align:center;
}


.musica{
  color: #ffffff;
background: #7c3eed;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 22px;
text-align:center;
}
.games{
  color: #22d3ee;
background: #0f172a;
font-family: 'Courier New', Courier, monospace;
font-size: 20x;
text-align:center;
}

.natureza{
  color: #166534;
background: #dcfce7;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
text-align:center;
}
