
/* style.css */
body {
  background: #f4f7fb;
  font-family: Arial;
}
.cartao { background: rgb(240, 13, 13); }
#titulo { color: #110344; }

.interesses {
  color: #1e293b;
background: #dbeafe;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
text-align:center;
}
.musica {
  #ffffff 
  color: #1e293b;
background; #7c3ead  
font-family:Arial,helvetica,sans-serif;
font-size: 22px;
text-align:cemter;

}
